[Unit]
Description=beuth-cloud
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'until ping -c1 8.8.8.8; do sleep 1; done;'
EnvironmentFile=/etc/environment
WorkingDirectory=/home/[USERNAME]/beuth-printed-cloud
ExecStart=/home/[USERNAME]/beuth-printed-cloud/beuth-boot.sh
ExecStop=/home/[USERNAME]/beuth-printed-cloud/beuth-boot.sh

[Install]
WantedBy=multi-user.target
